* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  background-color: rgb(233, 234, 235);
}

main {
  height: 100vh;
}

.fa-solid {
  color: white;
}

.instruction-section {
  height: 40vh;
  color:  rgb(53, 52, 52);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tasks-section {
  height: 60vh;
  background-color: rgb(53, 52, 52);
  padding-top: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructions {
  padding: 12% 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-bottom: 30px;
  font-family: 'Syne Mono', monospace;
  font-size: xx-large;
}

.instructions li {
  list-style: square;
}

li {
  line-height: 30px;
  font-family: 'Syne Mono', monospace;
}

.btn {
  border: 2px solid white;
  color: white;
  margin: 0 8px;
}

.btn:hover {
  background-color: rgb(134, 134, 134);
  color: white;
}

input {
  width: 200px;
  padding: 10px;
  border: none;
  font-size: 14px;
  margin-right: 9px;
  border-radius: 3px;
}

#add-task-section {
  width: fit-content;
  margin-bottom: 23px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#tasks-control {
  width: fit-content;
  height: 65px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 3px;
  justify-content: center;
  align-content: center;
}

#task-list-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#task-list {
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#task-list li {
  font-size: large;
}

.selected {
  background-color: rgb(129, 129, 129);
}

.completed {
  text-decoration: line-through solid white;
}

@media screen and (min-width: 1000px) {
  main {
    display: flex;
  }

  .instruction-section {
    width: 45%;
    height: 100vh;
  }

  .tasks-section {
    width: 55%;
    height: 100vh;
  }

  .instructions {
    width: 70%;
    background-color: rgb(53, 52, 52);
    border-radius: 15px;
  }

  h2 {
    color: rgb(239 , 241 , 243);
  }

  input {
    width: 285px;
  }

  li {
    color: rgb(239 , 241 , 243);
  }
}
