* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  color: rgb(53, 52, 52);
}

body {
  background-color: rgb(233, 234, 235);
  font-family: Urbanist, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: 8vh;
  margin-bottom: 3vh;
  font-family: 'Syne Mono', monospace;
}

.instructions {
  width: 60vh;
  padding: 8vh;
  background-color: rgb(53, 52, 52);
  border-radius: 2%;
  margin-bottom: 5vh;
  margin-top: 1.5vh;
}

.instructions li {
  color: rgb(239 , 241 , 243);
  list-style: square;
}

button {
  cursor: pointer;
  margin: 0 1.5vh;
  padding: 7px 10px;
  border: none;
  background-color: white;
  border-radius: 6%;
}

button:hover {
  background-color: #bebebe;
}

input {
  padding: 7px;
  width: 300px;
  border: none;
  border-radius: 3%;
}

#add-task-section {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

#tasks-control {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

#task-list-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#task-list {
  width: fit-content;
  display: flex;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li {
  line-height: 30px;
  font-family: 'Syne Mono', monospace;
}

.selected {
  background-color: #bebebe;
}

.completed {
  text-decoration: line-through solid black;
}
