* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  background-color: rgb(233, 234, 235);
}

main {
  display: flex;
  height: 100vh;
}

.fa-solid {
  color: white;
}

.instruction-section {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tasks-section {
  width: 55%;
  background-color: rgb(53, 52, 52);
  padding-top: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructions {
  width: 70%;
  padding: 12% 8%;
  background-color: rgb(53, 52, 52);
  border-radius: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-bottom: 9%;
  font-family: 'Syne Mono', monospace;
  color: rgb(239 , 241 , 243);
  font-size: xx-large;
}

.instructions li {
  list-style: square;
}

li {
  line-height: 30px;
  color: rgb(239 , 241 , 243);
  font-family: 'Syne Mono', monospace;
}

.btn {
  border: 2px solid white;
  color: white;
  margin: 0 8px;
}

.btn:hover {
  background-color: rgb(134, 134, 134);
  color: white;
}

input {
  padding: 10px;
  width: 285px;
  border: none;
  font-size: 14px;
  margin-right: 9px;
  border-radius: 3px;
}

#add-task-section {
  width: fit-content;
  margin-bottom: 23px;
}

#tasks-control {
  width: fit-content;
  margin-bottom: 40px;
}

#task-list-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#task-list {
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#task-list li {
  font-size: large;
}

.selected {
  background-color: rgb(129, 129, 129);
}

.completed {
  text-decoration: line-through solid white;
}
